@import "~/public/assets/style/grid.scss";

@font-face {
  font-family: "mono";
  src: url("~/public/type/mono.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "sans";
  src: url("~/public/type/sans.woff2") format("woff2");
  font-display: block;
}

//
// .neuebit { font-family: 'neuebit', var(--system-ui); letter-spacing: -.25px; }
// .canela { font-family: 'canela', var(--system-ui); }

.mono {
  font-family: "mono", "Courier New", Courier, monospace;
}

.sans {
  font-family: "sans", "Courier New", Courier, monospace;
  letter-spacing: 0.76px;
}

.uc {
  text-transform: uppercase;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
